@charset "utf-8";
/* CSS Document */



	
/*编辑分类*/
.rig_fl{
	position:relative;
	width:600px;
	margin-left:10%;
	margin-top:10px;
	float:left;
	}
#u156 p{
  position:relative;
  font-weight:600;
  font-size:18px;
  height:20px;
  width:170px;
  word-wrap:break-word;
}
.constent{
	position:relative;
	width:600px;
	font-size:16px;
	height:500px;;
	margin-top:20px;
	color:#FFF;
	display:inline-block;
	border:1px solid #D5D5D5;
	z-index:2999;
	}
.constent table{
	text-align:left;
	color:#000;
	height:40px;}
.con_main{
	width:600px;
	overflow:auto;
	border:1px solid #D5D5D5;
	}
	
.bo_tj{
	position:absolute;
	width:100%;
	height:50px;
	}	
.bo_tj a{
	text-align:center;
	color:#000;
	width:100px;
	height:30px;
	line-height:30px;
	border:1px solid #EEE;
	border-radius:7px;
	margin:10px 30px;
	}
.bo_tj a:hover{
	background:#6FF;
	}
#yj{
	float:left;
	}
#bc{
	float:right;
	}
	
/*无限分级*/


div, ul, li { 
    margin: 0px; 
    padding: 0px; 
    list-style-type: none; 
} 
#TreeList { 
    background-color: #FFFFFF; 
    margin-top: 6px; 
    margin-right: 9px; 
    margin-bottom: 6px; 
    margin-left: 9px; 
    border: 1px solid #5d7b96; 
    padding-bottom: 6px; 
    padding-left: 6px; 
} 
#TreeList .mouseOver { 
    background-color: #FAF3E2; 
} 

#TreeList .ParentNode { 
    line-height: 21px; 
    height: 21px; 
    margin-top: 2px; 
    clear: both; 
} 

#TreeList .ChildNode {
    background-position: 15px -58px; 
    padding-left: 25px; 
    line-height: 21px; 
    background-repeat: no-repeat; 
    border-top-width: 0px; 
    border-right-width: 0px; 
    border-bottom-width: 1px; 
    border-left-width: 0px; 
    border-top-style: dashed; 
    border-right-style: dashed; 
    border-bottom-style: dashed; 
    border-left-style: dashed; 
    border-top-color: #aabdce; 
    border-right-color: #aabdce; 
    border-bottom-color: #aabdce; 
    border-left-color: #aabdce; 
    cursor: default; 
    clear: both; 
    height: 21px; 
    color: #314f6a; 
} 

#TreeList .title { 
	color:black;
    float: left; 
} 
#TreeList .input { 
    font-size: 12px; 
    line-height: 18px; 
    color: #FFF; 
    height: 16px; 
    background-color: #3F6B8F; 
    width: 120px; 
    text-align: center; 
    margin-top: 1px; 
    border-top-width: 1px; 
    border-right-width: 1px; 
    border-bottom-width: 1px; 
    border-left-width: 1px; 
    border-top-style: solid; 
    border-right-style: solid; 
    border-bottom-style: solid; 
    border-left-style: solid; 
    border-top-color: #1F3547; 
    border-right-color: #FFF; 
    border-bottom-color: #FFF; 
    border-left-color: #1F3547; 
    float: left; 
} 
#TreeList .editBT { 
	color:black;
    float: left; 
    overflow: visible; 
} 
#TreeList .editBT .ok {
    background-repeat: no-repeat; 
    background-position: 0px -89px; 
    float: left; 
    margin-left: 3px; 
    padding: 0px; 
    margin-top: 3px; 
    cursor: pointer; 
} 
#TreeList .editBT .cannel {
    background-repeat: no-repeat; 
    background-position: 0px -120px; 
    float: left; 
    height: 13px; 
    width: 12px; 
    margin-left: 3px; 
    padding: 0px; 
    margin-top: 3px; 
    cursor: pointer; 
} 

#TreeList .editArea { 
    float: right; 
    color: #C3C3C3; 
    cursor: pointer; 
    margin-right: 6px; 
} 

#TreeList .editArea span { 
    margin: 2px; 
} 

#TreeList .editArea .mouseOver { 
    color: #BD4B00; 
    border-top-width: 1px; 
    border-right-width: 1px; 
    border-bottom-width: 1px; 
    border-left-width: 1px; 
    border-top-style: solid; 
    border-right-style: solid; 
    border-bottom-style: solid; 
    border-left-style: solid; 
    border-top-color: #C9925A; 
    border-right-color: #E6CFBB; 
    border-bottom-color: #E6CFBB; 
    border-left-color: #C9925A; 
    background-color: #FFFFFF; 
    margin: 0px; 
    padding: 1px; 
} 

#TreeList .ParentNode .title { 
    color: #314f6a; 
    cursor: pointer;
    background-repeat: no-repeat; 
    padding-left: 19px; 
} 

#TreeList .ParentNode.show .title { 
    font-weight: bold; 
    background-position: 3px -27px; 
} 

#TreeList .ParentNode.hidden .title { 
    background-position: 3px 4px; 
} 

#TreeList .ParentNode .editArea { 
    color: #999;     
} 
#TreeList .ParentNode.show { 
    background-color: #d1dfeb; 
    border-top-width: 0px; 
    border-right-width: 0px; 
    border-bottom-width: 1px; 
    border-left-width: 1px; 
    border-top-style: solid; 
    border-right-style: solid; 
    border-bottom-style: solid; 
    border-left-style: solid; 
    border-top-color: #5d7b96; 
    border-right-color: #5d7b96; 
    border-bottom-color: #5d7b96; 
    border-left-color: #5d7b96; 
} 

#TreeList .ParentNode.hidden { 
    border-top-width: 0px; 
    border-right-width: 0px; 
    border-bottom-width: 1px; 
    border-left-width: 0px; 
    border-top-style: dashed; 
    border-right-style: dashed; 
    border-bottom-style: dashed; 
    border-left-style: dashed; 
    border-top-color: #aabdce; 
    border-right-color: #aabdce; 
    border-bottom-color: #aabdce; 
    border-left-color: #aabdce; 
} 

#TreeList .Row { 
    clear: both; 
    margin-left: 24px;
    background-repeat: repeat-y; 
    background-position: 7px 0px; 
} 

/*发布公告*/
.cjdls{
	float:left;
	width:98%;
	margin-top:20px;
	margin-left:1%;
	}
.cg{
	margin-top:20px;
	width:100%;
	z-index:2999;
	padding-bottom:10px;
	}
.cg a{
	text-align:center;
	margin-top:10px;
	display:block;
	width:80px;
	height:30px;
	background:#F90;
	line-height:30px;
}
.cg span{
	display:block;
	height:20px;
	}
	
.an,.an1{
		 width:140px;
		 font-size:18px;
		 height:40px;
		 background:#F90;
		 color:#FFF;
		 border-radius:5px;
		border: 0;
	 }
.an1{
	width: 200px;
	height: 45px;
}
.xz{
	padding-top:30px;
	width:100%;
	height:50px;
	}
	
.cjck_table{
	z-index:3999;
	margin-top:20px;
	}
.cjck_table a:hover{
	background:#6FF;
	}
.cjck{
	float:left;
	width:98%;
	margin-top:20px;
	margin-left:1%;
	}	
	
	

.dls_table input{
	color:#CCC;}
.dls_table tr{
	height:40px;
	}
.dl_bo{
	position:absolute;
	bottom:0;
	width:100%;
	height:50px;
	left:0;
	}
.dl_bo a{
	text-align:center;
	color:#000;
	width:70px;
	height:30px;
	line-height:30px;
	border:1px solid #EEE;
	border-radius:7px;
	margin:10px 30px;
	}
.dl_bo a:hover{
	background:#6FF;
	}
#qx{
	float:left;
	}
#bc{
	float:right;
	}

.cjck_table{
	z-index:2999;
	}
.cs_text{
	width:100%;
	text-align:center;
	height:50px;
	line-height:50px;
	border:1px solid #EEE;
	border-radius:6px;
	background:url(../images/xm_bg.jpg);
	}
	
.dls_table{
	margin-top:30px;
	margin-left:30px;
	text-align:center;
	}
.dls_table input{
	color:#CCC;}
.dls_table tr{
	height:40px;
	}
.dl_bo{
	position:absolute;
	bottom:0;
	width:100%;
	height:50px;
	left:0;
	border: 1px solid #ccc;
	}
.dl_bo a{
	text-align:center;
	color:#000;
	width:70px;
	height:30px;
	line-height:30px;
	border:1px solid #EEE;
	border-radius:7px;
	margin:10px 30px;
	}
.dl_bo a:hover{
	background:#6FF;
	}
#qx{
	float:left;
	}
#bc{
	float:right;
	}
.wl{
	position:relative;
	margin-top:2%;
	margin-left:2%;
	float:left;
	}
.cg{
	padding:0;
	margin-top:20px;
	width:100%;
	z-index:2999;
	margin-bottom:30px;
	}
	
.an{
	width:140px;
	font-size:18px;
	height:40px;
	background:#F90;
	color:#FFF;
	border-radius:5px;
	}

.wl_top{
	float:left;
	margin-top:20px;
	margin-left:30px;
	}
.wl_top td{
	height:30px;
	}
.wl_bo {
	position:relative;
	width:98%;
	margin-left:1%;
	margin-top:20px;
	float:left;}
	
.df_table{
	position:relative;
	width:98%;
	margin-left:1%;
	margin-top:20px;
	float:left;
	}
.wl_bo table td{
	word-break:break-all;
	}
.clj a{
	float:left;
	display:block;
	width:80px;
	height:30px;
	line-height:30px;
	border:1px solid #6FF;
	border-bottom:0;
	text-align:center;
	margin:0 2px;
	background:#C8F4FF;
	}
.clj a:hover{
	background:#FFF;}
#wl_fh{
	float:right;
	display:block;
	width:80px;
	height:30px;
	background:#F90;
	margin-right:5%;
	line-height:30px;
	color:#000;
	margin-bottom:5px
	}
#wl_xx{
	padding-left:60px;
	padding-top:2%;
	}
.wl_img{
	width:40px;
	height:40px;
	position:absolute;
	overflow:hidden;
	
	}
.wl_left{
	float:left;
	height:30px;
	}
.wl_left p{
	width:600px;
	float:left;
	} 
.wl_right{
	float:right;
	height:30px;
	width:110px;
	padding-right:50px;
	line-height:30px;}
	
.dls{
	position:absolute;
	margin-top:-8%;
	margin-left:30%;
	width:600px;
	height:400px;
	background:#FFFFFF;
	z-index:49999;
	border:2px solid #EFEFEF;
	border-radius:6px;
	font-size:16px;
	}
.dls_table{
	margin-top:30px;
	margin-left:30px;
	text-align:center;
	}
.dls_table{
	margin-top:30px;
	margin-left:30px;
	text-align:center;
	}
.dls_table input{
	color:#CCC;}
.dls_table tr{
	height:40px;
	}
#cur{
	background:#FFF;
	}
	
	
/*上传产品*/
.sc_xz{
	position:relative;
	margin:10px;
	float:left;
	width:100%;
	}
.xx{
	float:left;
	width:100%;
	margin-left:200px;;
	margin-top:-10px;
	border-top:1px dashed #000;
	margin-bottom:30px;
	}
.sc_xz h4{
	margin-left:25px;
	}
.sc_main{
	width:640px;
	height:500px;
	margin-top:20px;
	margin-left:15%;
	border:1px solid #CCC;
	overflow:auto;
	}
.sc_fl1{
	width:200px;
	height:500px;
	float:left;
	border:1px solid #CCC;
	overflow:auto;
	text-align:center;
	}
.sc_fl1 input{
	margin-top:10px;
	width:190px;
	height:30px;
	text-align:center;
	}
.sc_fl1 a{
	display:block;
	padding-top:10px;
	color:#000;
	width:200px;
	height:30px;
	line-height:30px;
	}
.sc_fl1 a:hover{
	background:#6FF;
	}
.sc_bo{
	height:30px;
	width:640px;
	margin-top:20px;
	background:#CCC;
	}
.xy_top li{
	float:left;
	height:30px;
	line-height:30px;
	padding-left:20px;
	}
.sc_table a{
	color:#000;
	display:block;
	width:300px;
	height:30px;
	line-height:30px;
	}
.sc_table a:hover{
	background:#6CF;
	}
.sc_an{
	margin-left:30%;
	margin-top:60px;
	}
.sc_an a{
	display:block;
	width:200px;
	height:30px;
	border:1px solid #CACACA;
	border-radius:8px;
	text-align:center;
	line-height:30px;
	}
.sc_an a:hover{
	background:#999;}


/*上传商品下一步*/

.scxyb{
	float:left;
	width:98%;
	margin-top:20px;
	margin-left:1%;
	}
.xy_top{
	width:98%;
	height:100px;
	background:#CCC;
	border-radius:8px;
	padding-top:20px;
	}
.top_span span{
	margin:15px
	}
#top_sp{
	float:left;
	margin-top:20px;
	}
.sc_xz span{
	float:left;
	}
#sc_form{
	position:relative;
	width:65%;
	height:400px;
	background:#EEE;
	position:relative;
	text-align:center;
	}
#sc_form table{
	margin:0 auto;
	margin-top:7%;
	height:30px;
	line-height:30px;
	}
#sc_form1{
	position:relative;
	background:#CCC;
	}
#sc_form1 input[type="radio"]{
	opacity:1;
}	
#sc_form1 div{
	height:100px;
	width:100px;
	background:#fff;
}
#sc_form1 input{
	opacity:0;
	float:left;
	}
#fileccc{ 
	 position:absolute;
	 z-index:300; 
	 font-size:60px;
	 opacity:0;
	 margin-top:-20px;
	 } 
#sc_form1 a{
	position:relative;
	text-align:center;
	display:block;
	width:100px;
	height:30px;
	line-height:30px;
	background:#6FF;
	z-index:222;
	}
#sc_form1 table{
	padding:20px;
	}

#sc_form3 a{
	color:#000;
	text-align:center;
	display:block;
	width:200px;
	height:40px;
	line-height:40px;
	background:#CCC;
	}
#sc_form3 a:hover{
	background:#6FF;}
	
/*仓库*/
#ck{
	float:left;
	display:block;
	height:30px;
	width:70px;
	line-height:30px;
	border:1px solid #000;
	border-bottom:0px;
	background:#6FF;
	z-index:4999;
	margin-bottom:-2px;
	}
/* 创建仓库*/
.to_text{
	float:left;
	background:url("../imagesxm_bg.jpg");
	text-align:center;
	height:34px;
	width:98%;
	margin:0 auto;
	margin-top:40px;
	margin-left:1%;
	}
.to_text span{
	height:34px;
	line-height:34px;
	 }
.ck_main{
	float:left;
	margin:40px 20%;
	}
.ck_main table td{
	height:30px;}
.diqu table td{
	height:30px;}
.diqu table tr{
	border:1px solid #CCC;}
	
#ck_bc{
	display:block;
	width:60px;
	height:30px;
	line-height:30px;
	text-align:center;
	background:#F90;
	
	}
	
	/*代理商指标*/
	.dls_table a{
	float:left;
	margin-right:40px;
	display:block;
	height:25px;
	width:25px;
	background:#F90;
	line-height:25px;
	}
	
	
/*会员体现*/
.ck_top table{
	border-bottom:1px solid #00F;
	border-left:1px solid #00F;
	border-right:1px solid #00F;
	border-top:1px solid #00F;
	margin-bottom:30px;
	float:left;
	}
.ck_top table td{
	height:30px;
	}
/*会员返利*/
.cjck_table h3{
	margin:2% 1%;}
	
	/*物流公司已发货*/
.bo_table table input{
	position:relative;
	float:left;
	}
.bo_table table p{
	margin-left:50px;}
.bo_table table td{
	height:40px;
	}



/*进货哦管理*/
.xq_top{
	width:100%;
	padding-top:20px;
	margin-bottom:30px;
	}
.xq_top li{
	float:left;
	width:250px;
	height:30px;
	line-height:30px;
	margin-bottom:20px;
	}
.cg_xq{
	float:left;
	width:98%;
	margin-left:1%;
	}
.cg_xq table{
	text-align:center;
	}
.cg_xq td{
	width:20%;
	height:40px;
	}



/*礼卡列表*/
.gift_card span{
	margin-right: 50px;
	float: left;
}
.gift_card input[type="button"]{
	margin-right: 30px;
	width: 40px;
	height: 20px;
}
.gift_img{
	min-height: 50px;
	max-height: 50px;
	width: 50px;
	height: 50px;
	float: left;
	width: 65px;
	height: 65px;
	line-height: 65px;
	margin-top: 2px;
}

.goods_xq a{
	float: left;
	display: block;
	width: 100%;
	color: #23B7E5;
}
.goods_xq{
	margin-bottom: 15px;
	height: 60px;
	border: 1px solid #ccc;
}
.goods_xq p,.goods_xq1 p{
	margin-bottom: 5px;
	margin-top: 5px;
}

.gift_img,.box_img1 img{
	max-width: 65px;
	min-height: 60px;
	float: left;
	width: 65px;
	height: 60px;
	line-height: 60px;
	margin-top: 2px;
}

.title{
	margin-left:75px;
	width: 200px;
}

.good_table{
	width: 100%;
	background: #FBF9FA;
	border: 1px solid #ccc;
	float: left;
}
.gife_edit{
	width: 70px;
	height: 25px;
	background: #FF9900;
	color: #fff;
	border: 0;
}

/*发布礼品卡*/
.an_cg{
	width:400px;
	height:40px;
	margin-bottom:30px;
}
.an_cg a{
	width:150px;
	text-align:center;
	display:block;
	height:40px;
	line-height:40px;
	float:left;
	margin-right:30px;
	border:1px solid #039;
	color:#000;
	background: #ccc;
}
.an_cg a:hover,#white{
	background:#fff;
}
.gift_gray{
	height: 25px;
	width: 99%;
	margin-left: 1%;
	background: #ccc;
	float: left;
}
.gift_gray span{
	height: 25px;
	line-height: 25px;
	margin-left: 15px;
}
.order_gift,.order_gift1{
	float: left;
	width: 97%;
	margin-top: 5px;
	margin-left: 3%;
}
.order_gift span{
	display: block;
	margin-bottom: 15px;
}
.order_gift span select{
	height: 35px;
}
.gi_xz{
	display: block;
	width: 100%;
	margin-bottom: 5px;
}
.gift_dl a{
	float: left;
	margin-right: 40px;
}
.gift_color{
	width: 40px;
	height: 20px;
}
.gift_com {
	float: left;
	width: 100%;
}
.gift_com a{
	width: 80px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	display: block;
	background: #FFA500;
	border: 1px solid #23B7E5;
	border-radius: 7px;
}
.order_select{
	width: 90%;
	height: 150px;
	background: #F2F2F2;
	float: left;
	border-radius: 7px;
}
.order_select1{
	width: 90%;
	float: left;
	border-radius: 7px;
}
.order_select2{
	width: 90%;
	margin-top: 20px;
	background: #F2F2F2;
	float: left;
	border-radius: 7px;
}
.selt_span{
	display: block;
	padding-top: 20px;
	padding-left: 20px;
	margin-bottom: 15px;
}
.selt_span1{
	display: block;
	padding-top: 20px;

}
.selt_span2{
	display: block;
	padding-left: 20px;
}
.order_select li,.order_select1 li,.order_select2 li{
	float: left;
	margin-right: 40px;
	margin-bottom: 20px;
}
.gift_de{
	width: 60px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: red;
	color: #fff;
	border-radius: 7px;
}
.gift_bo{
	margin-top: 10px;
	float: left;
}
.select_bo{
	width: 60px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	display: block;
	color: #fff;
	background: #ccc;
	border-radius: 7px;
}
.selt_span2 img{
	max-height: 50px;
	min-height: 50px;

}
.img_zh{
	float: right;
	display: block;
	margin-left: 10px;
	margin-top:-30px;
}
.sc_text{
	width: 50px;
	height: 20px;
	display: block;
	border: 1px solid #ccc;
	text-align: center;
	line-height: 20px;
	font-size: 10px;
}
.gift_sc{
	top: -20px;
	position: relative;
	z-index: 199;
	opacity: 0;
}
.giftcard_img{
	margin-bottom: -50px;
}
.gift_fb{
	margin-top: 60px;
}
.gift_fb a{
	width: 120px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	background: #FFA500;
	border: 1px solid #ccc;
	display: block;
	float: left;
	margin-right:40px;
	border-radius: 7px;
}
.pop_box3{
	width: 450px;
	height: 400px;
	background: #fff;
	position: fixed;
	margin-left: 30%;
	top: 20%;
	border: 1px solid #ccc;
	z-index: 299;
}

.pop_left{
	display: block;
	margin-left: 20px;
	height: 30px;
	line-height: 30px;
}
.pop_right{
	float: right;
	margin-right: 20px;
}
.pop_main1,.pop_main2{
	margin-top: 20px;
	width: 100%;
	height: 190px;
	border-bottom: 1px solid #ccc;

}
.pop_main1 span{
	margin-left: 60px;
	padding-top: 30px;
	display: block;
	margin-bottom: 20px;
	width: 90%;
}
.pop_main2 span{
	margin-left: 60px;
	padding-top: 15px;
	display: block;
	margin-bottom: 5px;
	width: 90%;
}
.pop_main2 select{
	height: 28px;
	width: 150px;
}
.pop_text{
	height: 25px;
	width: 200px;
}
.pop_bottom{
	height: 80px;
	width: 100%;
	position: relative;
}
.bo_main{
	width: 75%;
	margin: 0 auto;
	height: 50px;
	display: block;

}
.pop_bottom a{
	width: 65px;
	height: 30px;
	margin-top: 15px;
	display: block;
	border: 1px solid #ccc;
	color: #fff;
	float: left;
	background: #B9B9B9;
	text-align: center;
	line-height: 30px;
	border-radius: 7px;
}
.pop_bottom a:hover{
	background: #FCB73E;
}
.card_img img{
	margin-top: -50px;
	max-height: 50px;
	min-height: 50px;
}
.card_img img,.gift_sc,.sc_text{
	margin-left: 60px;
}

/*批量成成礼卡编号*/
.call_top a{
	display: block;
	height: 40px;
	width: 150px;
	line-height: 40px;
	text-align: center;
	background: #fff;
	float: left;
	margin-left: 10px;
	color: #2192E0;
	border: 1px solid #2192E0;
}

.call_top a:hover,#on_call{
	color: #fff;
	background: #FF9F38;
	border: 0;
}

.cancel{
	display: block;
	height: 30px;
	width: 80px;
	line-height: 30px;
	text-align: center;
	background: #FF9F38;
	float: left;
	margin-left: 10px;
	color: #fff;

}
.bo_ca td{
	border: 1px solid #ccc;
}

.order_state1 table{
	width: 100%;
	height: 30px;
}
.order_state1 table{
	width: 100%;
	height: 30px;
}
.order_state1{
	width: 100%;
	height: 30px;
	float: left;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin-top: 10px;
}
.nav_right{
	position:relative;
	float:right;
	width:300px;
	height:35px;
	line-height:35px;
	padding-right:20px;
}
.seach_te{
	width:250px;
	height:30px;
}
.seach_te span{
	font-size:16px;

}
.seach_3{
	position:relative;
	width:300px;
	height:35px;
}

.seach_3 span{
	height:35px;
	width:300px;
	line-height:35px;
}
.seach_4{
	width:250px;
	height:30px;
	border:1px solid #FC593F;
	padding-left: 8%;
}
.card_on{
	margin-left: 120px;
}
.card_on1{
	width:100px ;
}
.card_on2{
	/*width: 100px;*/
}
.card_on a,.card_on1 a,.card_on2 a{
	display: block;
	width: 80px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	margin-right: 10px;
	float: left;
	background: #FC593F;
	border-radius: 7px;
}
.good_table{
	width: 100%;
	background: #FBF9FA;
	border: 1px solid #ccc;
	float: left;
}
.goods_xq a{
	float: left;
	display: block;
	width: 100%;
	color: #23B7E5;
}
.box_img1{
	float: left;
	width: 65px;
	height: 65px;
	line-height: 65px;
	margin-top:2px;
}
.title{
	margin-left:75px;
	width: 200px;
}
.goods_xq{
	margin-bottom: 15px;
}
.car_deta{
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 10px;
}
.car_deta  tr{
	height: 30px;
}
.chek_bo{
	float: left;
	margin-left: 3px;
	height: 30px;
	line-height: 30px;
}
.car_span span{
	float: left;
	margin-right: 40px;
	height: 30px;
	line-height: 30px;
}
.gift_fp{
	width: 50px;
	height: 25px;
	background: #FFA500;
}
.card_list{
	width: 100%;
	float: left;
	margin-top: 20px;
}
.pop_qx{
	display: block;
	width: 50px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	float: right;
	margin-right: 20px;
	border: 1px solid #ccc;
	border-radius: 7px;
	background: #23B7E5;
	color: #fff;
}
.batch_span{
	display: block;
	with: 100%;
	border-bottom: 1px solid #ccc;
	height: 35px;
}
.batch_main{
	width: 100%;
	margin-top: 5px;
}
.batch_left{
	margin-left: 20px;
}
.batch_left{
	float: left;
}
.batch_right{
	float: right;
	width: 250px;
	height: 255px;

}
.batch_sc{
	margin-top: 20px;
	width: 100%;
}
.batch_sc select{
	height: 30px;
	width: 120px;
}
.batch_text{
	width: 120px;
	height: 25px;
}
.batch_sc span{
	display: block;
	margin-bottom: 15px;
}
.batch_bo a{
	width: 130px;
	height: 40px;
	color: #fff;
	font-size: 18px;
	background: #23B7E5;
	border: 1px solid #ccc;
	border-radius: 7px;
	line-height: 40px;
	text-align: center;
	display: block;
	margin-left: 60px;
}
.chick_on{
	display: none;
}
/* category edit start */
.edit_cate{
	width:1190px;
	margin-left:1%;
	float:left;
	margin-top: 20px;
}
.edit_main{
	width: 100%;
	height:500px;
	overflow:auto;
	margin-top: -2px;
}
.gift_groy span{
	display: block;
	height: 30px;
	line-height: 30px;
	border: 1px solid #ccc;
	width: 100px;
	text-align: center;
	margin-left: 30px;
	position: relative;
	z-index: 122;
	border-bottom:0;
	background: #EDFBFE;
	margin-bottom: 1px;
}
.edit_fll{
	width:30%;
	height:490px;
	float:left;
	margin-right: 20px;
	border:1px solid #CCC;
	overflow:auto;
	text-align:center;
	background: #f3f3f3
}

.categroy_bg{
	background: url("../images/xm_bg.jpg");
	display: block;
	height: 30px;
	line-height: 30px;
}
.add_category{
	width: 100%;
	height: 50px;
	background: #F3F3F3;
	display: block;
	float: left;
	margin-bottom: 10px;
}
.add_category a{
	display: block;
	width: 70px;
	height: 30px;
	line-height: 30px;
	background: #3366ff;
	color: #fff;
	text-align: center;
	margin-left: 30px;
	margin-top: 10px;
}
.categroy_name{
	margin-top: 10px;
}
.categroy_name li{
	margin-bottom: 10px;
	width: 100%;;
	float: left;
	padding: 10px;
	text-align: left;
}
.categroy_name li p{
	margin-bottom: 0px;
}
.categroy_name li input{
	margin: 0px;
	padding: 5px 5px;
    border: 1px solid #ddd;
    background: #fefefe;
    height: auto;
}
.categroy_name li input.file{
	padding: 0px;
	width: 70px;
	margin-bottom: 5px;
}
.categroy_text{
	height: 25px;
	margin-top: 20px;
	margin-left: 10px;
}
.categroy_name button{
	background: #3366ff;
	color: #fff;
	height: 25px;
	width: 50px;
	border: 0;
}
.category_img{
	display: block;
	max-width: 45px;
	max-height: 45px;
	width: 45px;
	height: 45px;
	float: left;
	border: 1px solid;
	font-size: 50px;
	line-height: 45px;
	margin-left: 20px;
	margin-top: 10px;
	background: #E4E4E4;
	color: #A0A0A0;
	font-weight: normal;
}
.category_img img{
	max-width: 45px;
	max-height: 45px;
	width: 45px;
	height: 45px;
}
.categroy_file{
	display: block;
	float: left;
	height: 45px;
	width: 45px;
	position: relative;
	z-index: 12;
	margin-left: -45px;
	margin-top: 10px;
	opacity: 0;
}

.gift_Preservation{
	margin-left:45%;
	margin-top:60px;
}
.gift_Preservation a{
	display:block;
	width:200px;
	height:30px;
	border:1px solid #CACACA;
	border-radius:8px;
	text-align:center;
	line-height:30px;
	background: #62B0FB;
	color: #FFF;
}
.gift_Preservation a:hover{
	background:#FFA500;
}
.checked_li,.catediv li:hover{
	background:#eee;
	cursor: pointer;
}
/* category edit  end  */


/*  Cardsintegral_dis start     */
.integral_main{
    position: fixed;
    width: 400px;
    height: 450px;
    border: 1px solid #ccc;
    background: #fff;
    z-index: 122;
    top: 15%;
    margin-left: 30%;
    display: none;
}
.integral_top{
    background: url("../imagesadminimg/xm_bg.jpg");
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 10px;
}

.releaase_main table{
    width: 100%;
    margin: 0 auto;

}
.releaase_main table tr{
    width: 100%;
    height: 60px;

}
.releaase_text{
    width: 200px;
    height: 30px;
}
.file_add{
    display: block;
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    background: #C3C3C3;
    line-height: 60px;
    font-size: 30px;
    text-align: center;
    margin-left: 60px;
}
.file_span{
    display: block;
    width: 60px;
    height: 60px;
    margin-top: -60px;
    position: relative;
    z-index: 12;
    opacity: 0;
    margin-left: 40px;
    cursor: pointer;
}

.release_bottom{
    margin-top: 10px;
    width: 60%;
    position: relative;
    margin: 0 auto;
	top: 60px;
}

.release_main{
    margin: 0 auto;
    height: 50px;
    display: block;

}
.release_bottom a{
    width: 65px;
    height: 30px;
    margin-top: 15px;
    display: block;
    border: 1px solid #ccc;
    color: #fff;
    float: left;
    background: orange;
    text-align: center;
    line-height: 30px;
    border-radius: 7px;
}
.release_bottom a:hover{
    background: #66CCFF;
}
/*   Cardsintegral_dis end     */


.choose{
	text-align: left;
	background: #F3F3F3;
}
.card_table1{
	border-collapse: collapse;
}
.card_table1 td{
	border:  1px solid #ccc;
}
.null_border1{
	border-right:0 !important;
}
.null_border{
	border-left:0 !important;
}

/*代理商礼卡*/
.cancel_bo{
	background: #FF9F38;
	color: white;
	border: 0;
	display: block;
	height: 30px;
	width: 80px;
	float: left;
}
.detail_bo{
	background: #23B7E5;
	color: white;
	border: 0;
	display: block;
	height: 30px;
	width: 80px;
}
.pass_bo{
	float: left;
	background: red;
	color: white;
	border: 0;
	display: block;
	height: 30px;
	width: 80px;
	margin-right: 10px;
}
.fileccc {
    position: absolute;
    z-index: 300;
    display: block;
    opacity: 0;
    width: 100px;
    height: 30px;
    margin-top: -30px;
    filter: alpha(opacity=0);
    cursor: pointer;
}