
<!--/header-->
<div class="content">
	 <div class="container">
		 <div class="content-grids">
			 <div class="col-md-8 content-main">
				 <div class="content-grid">
				 	{volist name="data" id="va"}
					<div class="content-grid-info">
						<div class="post-info">
							<h4><a href="{:url('index/detail', array('id' => $va.article_id))}">{$va.article_title}</a></h4>
							<P class="post-info-time" style="height: auto;">{$va.article_create_time} <span>{$va.article_author}</span></P>
							<p>{$va.article_about}</p>
							<P class="post-info-time" style="height: auto;">阅读({$va.article_read}) <span>点赞({$va.article_praise})</span> <span>评论({$va.article_comment})</span></P>
							<a href="{:url('index/detail', array('id' => $va.article_id))}" class="post-info-more">查看详情</a>
						</div>
					</div>
					{/volist}
					<div class="page">
						{$data->render()}
						<div class="clearfix"> </div>
					</div>
					 
				 </div>
			  </div>
			  {include file="common:left"}
			  <div class="clearfix"></div>
		  </div>
	  </div>
</div>


	
