/* CSS Document */
.banner{ width:100%; overflow:hidden; position:relative;font-size:0}
.b-img{  position:absolute; left:0; top:0;}
.b-img a{ display:block; float:left;}
.b-img a img{ width: 100%;height:300px;}
.b-list{ height:50px; padding-top:260px; position:relative; margin:0 auto;z-index:1;padding-bottom: 20px;}
.b-list span{ background: #ddd; display:block;cursor:pointer; width:10px; height:10px; border-radius:50%; border:3px solid #ddd; float:left; margin:0 5px; _margin:0 3px;}
.b-list .spcss{
	border: 3px solid #ff801a;
    background: #ff801a;
}
.bar-left{ position:absolute; z-index:1; display:block; width:100px; height:100%; left:0px; background:none; top:0px; }
.bar-right{ position:absolute;z-index:1; display:block; width:100px; height:100%; right:0px; background:none; top:0px; }
.bar-left em{ display:block; width:50px; height:100px; background:url(../images/arrow.png) 0px 0px no-repeat; margin:0 auto; margin-top:325px;}
.bar-right em{ display:block; width:50px; height:100px; background:url(../images/arrow.png) -50px 0px no-repeat; margin:0 auto; margin-top:325px;}
.bar-left .emcss{ background-position:0px -100px;}
.bar-right .emcss{ background-position:-50px -100px;}

.integral_main{
	padding: 0px;
}
.integral_main .scrap_top{
	padding: .2rem;
}
.integral_title{
	color:#666;
}
.integral_price span{
	color:#ff801a;
}
.integral_price_num{
	font-size: 22px;
	margin-right: 10px;
}
.integral_price_fh{
	margin: 0 5px;
    color: #666;
}
.integral_price_freight{
	float:right;
	color: #aaa;
    margin: 5px;
    font-size: 14px;
}
.user_address{
	color:#999;
	padding: 10px 0;
    font-size: 14px;
}
.user_address span font a, .user_address span font a:visited, .user_address span font a:hover, .user_address span font a:active{
	color:#999;
}
.user_address_fh{
	float: right;
}
.scrap_detail p.describe_title{
	font-size: 16px;
    color: #666;
	text-align: center;
}
.fg_div{
	height: 10px;
	background: #efefef;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.user_address_tc{
	position: fixed;
    top: 0;
    background: #f7f7f7;
    width: 100%;
    height: 750px;
    z-index: 2;
    display: none;
}
.tc_title{
	position: relative;
	background: #ff801a;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
    color:#fff;
}
.address_div{
	padding: 10px;
}
.address_div .address_ul{
	background: #fff;
	border: 1px solid #eee;
    font-size: 14px;
    color:#666;
    margin-bottom: 10px;
}
.address_top{
	padding: 10px;
}
.address_left,.address_right{
	float: left;
}
.address_left{
	width: 20%;
}
.address_right{
	line-height: 200%;
	width: 80%;
}
.address_left input{
	background: #ddd;
    border: 0px;
    padding: 6px;
    border-radius: 15px;
    color: #fff;
}
.address_left input.input_selected{
	background: #ff801a;
}
.address_right_t p,.address_bottom p{
	float: left;
	width: 50%;
}
.address_bottom p{
	text-align: center;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	line-height: 40px;
}
.address_add{
	position: absolute;
    right: 10px;
}

.address_add_div{
	padding: 10px;
}
.address_add_div p{
	line-height: 30px;
	color: #666;
}
.address_add_div p input{
	padding: 5px;
}
.address_add_div p input,.address_add_div p select{
	height: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%
}
.address_add_div p select{
	margin-bottom: 10px;
}
.address_add_left{
	width:100px;
}
.address_add_button{
	text-align: center;
}
.address_add_button input{
	padding: 10px 20px;
    border: 0px;
    background: #ff801a;
    color: #fff;
    border-radius: 30px;
}





