
@charset "utf-8";

/*base
============================================================================*/
/*定义盒子模型
 * 参考：http://www.runoob.com/css3/css3-box-sizing.html
 */
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/** {
    margin: 0;
    padding: 0;
    border:0;
}*/
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,
ul,ol,li,p,blockquote,pre,hr,figure,table,
caption,th,td,form,fieldset,legend,input,
button,textarea,menu,a,span
{
    margin: 0;
    text-decoration: none;
    padding: 0;
    list-style: none;
}


/*html {
  font-size: 62.5%;
}*/
body{
            overflow-x: hidden;
            background: #F2F2F2;
            font-size: .32rem;
            font-family: "MicrosoftYaHei";
           /* width: 7.5rem;*/
            margin: 0 auto;
        }
section{background: #fff;}
a,
a:visited, /*指已经访问过的链接*/
a:hover,/*指鼠标在链接*/
a:active/* 指正在点的链接*/
{
    text-decoration: none;
}
i,em{
    font-style: normal;
}
li{list-style: none;}

/*文章详情*/
.scrap_main{
    padding: .2rem;
}
.scrap_p{
    padding: .1rem 0;
    font-size: 22px ;
    line-height: 150%;
}
.scrap_p1{
    font-size: 12px;
    color: #999;
}
.scrap_font1{
    margin-right: .2rem;
}
.scrap_detail{
    margin-top: .2rem;
}
.scrap_detail p{
    text-indent: auto!important;
    line-height: .65rem;
    font-size: .34rem;
    color:#555;
    margin-bottom: 15px; 
}

.scrap_detail img{
    border: 0;
    margin:.1rem 0;
    width: 100%;
}
.scrap_detail span{
    font-size: .34rem;
    text-indent: 2em;
/*    color: #999;
    display: block;*/
    margin-bottom: .2rem;
}
.scrap_detail video{
    padding: .2rem 0
}


.pad_top10{
    padding-top: 10px;
}

.characters_box{
    padding-bottom:.2rem ;
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: .4rem;
}
.img_box{
    float: left;
    width: 25%;
    margin-right: 10px;
}
.img_box img{
    width: 100%;
}
.box_info{
    overflow: hidden;
}
.box_title{
    font-weight: 900;
    font-size: .32rem;
}
.box_title1{
    font-size: .25rem;
    color: #9E9E9E;
    padding-top: 10px;
}
.clear{
    clear: both;
}

.ltstatus {
    background: #F3F4F6;
    padding:0 .2rem .4rem .3rem;
    border-top: 4px solid #F2F4F3;
}
.ltstatus ul {
    border-left: 1px solid #ccc;
    padding-left: .2rem;
    padding-bottom: .1rem;
    padding-top: .2rem;
}
.ltstatus li:first-child {
    /*color: #ff5a00;*/
    /*padding-top: 0;*/
}
.ltstatus li {
    color: #666;
    /*line-height: 1.7;*/
    /*border-bottom: 1px solid #e5e5e5;*/
    padding-bottom: .5rem ;
    position: relative;
    font-size: .36rem;
}
.ltstatus li:nth-child(2n+1):after {
    content: '';
    display: block;
    background: #50D1C2;
    width: .3rem;
    height: .3rem;
    position: absolute;
    left: -.36rem;
    top: 0;
    font-size: 0;
    border-radius: 50%;
}
.ltstatus li:nth-child(2n):after {
    /*background-color: #FCAB52;*/
    /*width: 1rem;*/
    /*height: 1rem;*/
    /*left: -.9rem;*/
    /*/!*border: 2px solid #ffa473;*!/*/
    /*margin-left: -1px;*/
    content: '';
    display: block;
    background: #FCAB52;
    width: .3rem;
    height: .3rem;
    position: absolute;
    left: -.36rem;
    top: 0;
    font-size: 0;
    border-radius: 50%;
}
.ltstatus li p,.ltstatus li time{
    padding-left: .2rem;
}
.ltstatus li p{
   font-size: .32rem; 
}
.resume_p{
    font-size: .32rem;
    color: #A2A2A4;
}
.heig_11{
    height: 3rem;
}
.foot_img{
    position: relative;
    bottom: 0;
    height: 3rem;
    overflow: hidden;
    width: 100%;
}
.foot_img img{
    width: 100%;
}
.clear{
    clear: both;
}

table{
    max-width: 100%!important;
    width: 100%!important;
}



.scrap_detail p.logistics_title{
    height: 40px;
    line-height: 40px!important;
    background: #f6f6f6;
    font-size: 14px;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
    border-bottom: 1px solid #eee;
}
.logistics{
    margin: 10px;
}
.logistics_h3{
    font-size: 14px;
    font-weight: normal;
}
.logistics_detail{
    padding: 10px;
    margin: 10px 0;
    background: #f9f9f9;
    border: 1px solid #eee;
    border-radius: 5px;
}
.logistics_img{
    width: 30%;
    float: left;
}
.logistics_text{
    width:65%;
    float: right;
}
.logistics_text p{
    margin-bottom: 0px;
    font-size: 12px;
    line-height: 24px;
}
.logistics_text p span{
    font-size: 12px;
}
.scrap_detail .logistics_cen_div p{
    font-size: 14px;
    margin-bottom: 0px;
}
.logistics_btn_div{
    margin-top: 10px;
    padding-bottom: 50px;
}
.logistics_btn_div ul li{
    background: #f6f6f6;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.logistics_btn_div ul li p{
    margin-bottom: 0px;
    font-size: 12px;
}
.logistics_btn_div ul li.li_one{
    background: #ff801a;
    border: 1px solid #fff;
}
.logistics_btn_div ul li.li_one p{
    color:#fff;
}
